/* Base Styles */
body {
  font-family: 'Bitter', serif;
  background-color: #FFFFE0;
}

/* Grid System */
.full-width {
  width: 1200px;
  margin: 0 auto;
}

.half-width {
  width: 600px;
  float: left;
}

.third-width {
  width: 400px;
  float: left;
}

/* Header */
header {
  height: 800px;
  background: url("https://vignette.wikia.nocookie.net/onceuponatime8042/images/b/bc/622GrannysDiner.png/revision/latest?cb=20170823131657");
  background-size: cover;
}

header h1 {
  font-family: 'Lalezar', cursive;
  font-size: 52px;
  color: #FFFFE0;
}

header h1 span{
  color: #FF0000;
  text-transform: uppercase;
}

nav {
  float: right;
  padding: 50px 0;
}

nav ul li {
  display: inline-block;
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Bitter', serif;
  padding: 15px;
  color: #FFFFE0;
}

nav ul li a:hover {
  color: #008000;
}

header h4 span {
  color: #00800;
}

/* Specials */
#specials {
  height: 750px;
}

#specials .full-width {
  padding: 15px 0;
  text-align: center;
}

#specials h2 {
  font-family: 'Lalezar', cursive;
  font-size: 42px;
  color: #FF0000;
}

#specials h3 {
  font-size: 32px;
}

#specials button {
  background-color: #228B22;
  color: #000;
  font-size: 20px;
  padding: 10px;
  font-family: 'Bitter', serif;
}

/* Catering */
#catering {
  height: 800px;
}

#catering .full-width {
  padding: 90px 0;
}

#catering h3 {
  font-size: 32px;
  text-align: center;
  color: #228B22;
}

#catering p {
  font-size: 20px;
  line-height: 42px;
  padding-right: 50px;
}

#catering #number {
  color: #228B22;
  font-size: 30px;
}

/* Promos */
#promos {
  height: 500px;
}

#promos .third-width {
  height: 300px;
}

#promos .promo-text {
  padding: 50px 0;
}

#promos #kids {
  background: url('https://i.pinimg.com/564x/03/c5/82/03c582a5eaafb3b9825a1dc7ee678b0f.jpg');
  background-size: cover;
}

#promos #health {
  background: url('https://i.pinimg.com/originals/d1/4d/f9/d14df9ebaa749e2b4c132daa75eba846.jpg');
  background-size: cover;
  line-height: 30px;
}

#promos #careers {
  background: url('https://vignette.wikia.nocookie.net/onceuponatime8042/images/4/47/618LeavingGrannysDiner.png/revision/latest?cb=20170428194703');
  background-size: cover;
  color: #FFFFE0;
}

#promos h2 {
  font-size: 42px;
  font-family: 'Lalezar', cursive;
  color: #FF0000;
}

#promos h4 {
  font-size: 32px;
  font-family: 'Lalezar', cursive;
  color: #00CED1;
  text-align: center;
}

#promos p {
  text-align: center;
  font-size: 20px;
}

/* Footer */
footer {
  background-color: #228B22;
  font-size: 15px;
  padding: 10px;
}
