*, *:before, *:after {
  box-sizing: inherit;
}

/* Menu Container */
.menu-container {
  padding: 0.01em 16px;
}

.menu-container:after, .menu-container:before, .menu-panel:after, .menu-panel:before, .menu-row:after, .menu-row:before, .menu-row-padding:after, .menu-row-padding:before, .menu-cell-row:before, .menu-cell-row:after, .menu-clear:after, .menu-clear:before, .menu-bar:before, .menu-bar:after {
    content: "";
    display: table;
    clear: both;
}

.menu-padding-64 {
  padding-top: 64px!important;
  padding-bottom: 64px!important;
}

/* Menu Content */
.menu-content {
  max-width: 980px;
}

.menu-content, .menu-auto {
  margin-left: auto;
  margin-right: auto;
}




.menu-col .s4 {
  width: 33.33333%;
}

.menu-red, .menu-hover-red:hover {
  color: #fff!important;
  background-color: #fc4c58!important;
}

.menu-padding-large {
  padding: 12px 24px!important;
}

.menu-col, .menu-half, .menu-third, .menu-twothird, .menu-threequarter, .menu-quarter {
  float: left;
  width: 100%;
}

.menu-dark-grey, .menu-hover-dark-grey:hover, .menu-dark-gray, .menu-hover-dark-gray:hover {
    color: #fff!important;
    background-color: #616161!important;
}

.menu-right {
  float: right!important;
}

.menu-round, .menu-round-medium {
  border-radius: 4px;
}

.menu-badge, .menu-tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

.menu-text-grey, .menu-hover-text-grey:hover, .menu-text-gray, .menu-hover-text-gray:hover {
    color: #757575!important;
}
